@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);

html {
    font-family: Helvetica, Arial, sans-serif;
}
body {
    margin: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
#menu-list {
    display: flex;
    list-style-type: none;
    gap: 20px;
    font-weight: bold;
}
#nav-left {
    display: flex;
    align-items: center;
}
#sign-in-link {
    color: black;
    text-decoration: none;
}
#nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}
#banner {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(1, 20, 123);
    color: white;
}
#header-bg {
    width: 100% /* making bg scale to 100% page width */
}
header {
    position: relative;
}
#header-content {
    position: absolute;
    top: 0;
    left: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    color: white;
}
#shop-now-btn {
    background-color: #FBD427;
    border-color: #FBD427;
    padding: 15px;
    border: none;
    border-radius: 999px; /* create a pill button */
    font-weight: bold;
}
.card-image {
    width: 30vw;
    height: 30vw;
    object-fit: cover;
}
.card-content {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
.card-content .title {
    font-style: italic;
    font-weight: normal;
}
.card-content .subtitle {
    text-align: center;
    padding-bottom: 50px;
}
.card-content .link {
    font-weight: bold;
    color: black;
}
.card {
    width: min-content;
}


#movie-cards {
    background-color: rgb(241, 242, 243);
    display: flex;
    justify-content: space-around;
    padding: 30px;
}


/*Review Form buttons*/
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.rating-wrap{
    max-width: 480px;
    margin: auto;
    padding: 15px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    text-align: center;
}

.center{
    width: 135px;
    margin: auto;
}

.search-bar {
    /* position: relative; */
    padding-top: 20px;
    align-content: center;

}

.search-input {
    width: 70vw;
    height: 30px;
}

.page {
    height: 100vw;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#rating-value{
    margin: 40px auto 0;
    width: 110px;
    padding: 10px 5px;
    text-align: center;
    box-shadow: inset 0 0 2px 1px rgba(46, 204, 113, .2);


}

/* styling star rating */

.rating {
    border: none;
    float: left;
}

.rating > input {
    display: none;
}

.rating > label:before{
    content: '\f005';
    font-family: FontAwesome;
    margin: 5px;
    font-size: 1.5rem;
    display: inline-block;
    cursor: pointer;
}

/* .rating > .full:before{
    content: '\f089';
    position: absolute;
    cursor: pointer;
} */

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label{
    color: #2ce679;

}

.rating > input:checked + label:hover, 
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label{
    color: #2ddc76;
}